<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.clemson.six.studybuddy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.clemson.six.studybuddy.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.clemson.six.studybuddy.view.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName="edu.clemson.six.studybuddy.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.clemson.six.studybuddy.view.MainActivity"/>
        </activity>
        <activity android:name="edu.clemson.six.studybuddy.view.LoginActivity"/>
        <activity
            android:name="edu.clemson.six.studybuddy.view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="edu.clemson.six.studybuddy.view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.clemson.six.studybuddy.view.MainActivity"/>
        </activity>
        <activity
            android:name="edu.clemson.six.studybuddy.view.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName="edu.clemson.six.studybuddy.view.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.clemson.six.studybuddy.view.MainActivity"/>
        </activity>
        <activity
            android:name="edu.clemson.six.studybuddy.view.AddFriendActivity"
            android:label="@string/title_activity_friend_add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.clemson.six.studybuddy.view.FriendsActivity"/>
        </activity>
        <activity
            android:name="edu.clemson.six.studybuddy.view.FriendRequestsActivity"
            android:label="@string/title_activity_friend_request">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.clemson.six.studybuddy.view.FriendsActivity"/>
        </activity>
        <activity
            android:name="edu.clemson.six.studybuddy.view.ChangeLocationActivity"
            android:label="@string/title_activity_change_loc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.clemson.six.studybuddy.view.MainActivity"/>
        </activity>
    </application>

</manifest>